/* CSS files add styling rules to your content */




body {
  background-color: white ;
  
  
}

h1 {
  margin:20px;
  font-size: 75px;
  font-weight: lighter;
}

.button{
  background-color:#5C5048;
}

.button:hover{
  background-color: purple;
}

#content{
  float: left;
  width: 45%;
  padding: 10px;
}

#image{
  float:right;
  width: 45%;
  padding: 10px;
  margin:10px;
}


div p{
  background-color:#DBDBDB;
  border-radius: 4px;
  padding: 30px;
  margin: 15px;
}

img{
  border-radius: 4px;
}

a:hover {
  background-color: #DBDBDB;
}