/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  background-color: white ;

  
}

h1 {
  font-family: 'Raleway';
  font-weight: lighter;
  color: grey;
  margin: 20px; 
}

#image{
  padding: 10px;
  margin: 10px;
  right: 0;
  font-family: 'Raleway';
  border-radius: 4px;
}

#content{
  left:0;
}

div p{
  background-color:#DBDBDB;
  font-family:'Raleway';
  border-radius: 4px;
  width: 640px;
  font-weight: lighter;
  color: grey;
  padding: 25px;
  margin: 20px;   
    
}

.button{
  margin: 10px ;
  background-color:#5C5048;
  font-family: 'Raleway';
  font-size: 15px;
  padding: 15px 32px;
  color:white;
  border-radius: 4px;
  margin: 20px; 
}

a:hover {
  background-color: #DBDBDB;
}